@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37.5 33.3% 95.3%;
    --foreground: 30 12% 9.8%;
    --card: 34.3 100% 98.6%;
    --card-foreground: 30 12% 9.8%;
    --popover: 34.3 100% 98.6%;
    --popover-foreground: 30 12% 9.8%;
    --primary: 332.1 56.7% 49.8%;
    --primary-foreground: 33.3 52.9% 96.7%;
    --primary-dark: 331.2 60.4% 40.6%;
    --primary-light: 339.6 82.8% 65.9%;
    --primary-lighter: 341.5 83% 81.6%;
    --primary-lightest: 338.4 86.2% 94.3%;
    --secondary: 33.7 33.3% 90.6%;
    --secondary-foreground: 30 12% 9.8%;
    --muted: 33.7 33.3% 90.6%;
    --muted-foreground: 32 8.7% 33.9%;
    --accent: 33.7 33.3% 90.6%;
    --accent-foreground: 30 12% 9.8%;
    --destructive: 356.3 66.5% 52%;
    --destructive-foreground: 33.3 52.9% 96.7%;
    --border: 33.3 24.3% 85.5%;
    --input: 33.3 24.3% 85.5%;
    --ring: 332.1 56.7% 49.8%;
    --success: 147.3 57.7% 38%;
    --warning: 37.4 83.6% 52.2%;
    --coin: 37.7 88.4% 55.9%;
    --online: 145.5 57.3% 45.9%;
    --nav: 338.4 86.2% 94.3%;
    --nav-border: 339 30% 86%;
    --radius: 8px;
  }

  .dark,
  .dark:root {
    --background: 40 9.1% 6.5%;
    --foreground: 36.9 35.1% 92.7%;
    --card: 36 9.8% 10%;
    --card-foreground: 36.9 35.1% 92.7%;
    --popover: 36 9.8% 10%;
    --popover-foreground: 36.9 35.1% 92.7%;
    --primary: 332.1 56.7% 49.8%;
    --primary-foreground: 33.3 52.9% 96.7%;
    --primary-dark: 331.2 60.4% 40.6%;
    --primary-light: 339.6 82.8% 65.9%;
    --primary-lighter: 341.5 83% 81.6%;
    --primary-lightest: 332.1 42% 13%;
    --nav: 332.1 42% 13%;
    --nav-border: 332.1 25% 20%;
    --secondary: 34.3 9.1% 15.1%;
    --secondary-foreground: 36.9 35.1% 92.7%;
    --muted: 34.3 9.1% 15.1%;
    --muted-foreground: 36 12.2% 67.8%;
    --accent: 34.3 9.1% 15.1%;
    --accent-foreground: 36.9 35.1% 92.7%;
    --destructive: 356.3 66.5% 52%;
    --destructive-foreground: 36.9 35.1% 92.7%;
    --border: 30 11.5% 20.4%;
    --input: 30 11.5% 20.4%;
    --ring: 332.1 56.7% 49.8%;
    --success: 147.3 57.7% 38%;
    --warning: 37.4 83.6% 52.2%;
    --coin: 37.7 88.4% 55.9%;
    --online: 145.5 57.3% 45.9%;
    --radius: 8px;
  }
}
